@if (services$ | async; as services) {
  <div
    id="services"
    class="scrollto clearfix"
    >
    <div class="row no-padding-bottom clearfix">
      <!--Content Left Side-->
      <div class="col-3">
        <!--User Testimonial-->
        <blockquote class="testimonial text-right bigtest">
          <q
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua</q
            >
            <footer>—  Tamil Nadu State Marketing Corporation Limited</footer>
          </blockquote>
          <!-- End of Testimonial-->
        </div>
        <!--End Content Left Side-->
        <!--Content of the Right Side-->
        <div class="col-3">
          <div class="section-heading">
            <h3>{{ services.tagline }}</h3>
            <h2 class="section-title">{{ services.title }}</h2>
            <p class="section-subtitle">{{ services.description }}</p>
          </div>
          <p>
            CAPITAL STRUCTURE

            (i) Authorised and Paidup capital : Rs. 15.00 Crores
            (ii) Paidup capital : Rs. 15.00 Crores
            
            (The entire share capital is contributed by Govt. of Tamil Nadu)
          </p>
          <p>
            Tamil Nadu State Marketing Corporation Limited
            CMDA Tower-II, IV Floor,
            Gandhi Irwin Bridge Road,
            Egmore, Chennai - 600 008.
            
            Phone : 044-28521298, 28524608, 28521970.
            Fax No : 044-28524634.
            Gram : TANMARK
            
            
            Website Information Officer
            Name	:	M. Jothi Shankar
            Designation	:	Deputy General Manager (Purchase & Sales)
            Address	:	5th Floor, C.M.D.A, Tower - II
            Gandhi Irwin Bridge Road,
            Egmore, Chennai - 600008
            Contact Number	:	9445029743
          </p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <!-- <a
            href="#"
            data-videoid="UYJ5IjBRlW8"
            data-videosite="youtube"
            class="button video link-lightbox">
            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </a> -->
        </div>
        <!--End Content Right Side-->
        <div class="col-3">
          <img src="assets/images/05.jpeg"  />
        </div>
      </div>
    </div>
  }
