<div class="container py-5">
    <h3 class="mb-3">Disclaimer</h3>
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <h5 class="text-xl font-semibold mb-4">Overview :</h5>
                        <p class="text-slate-400">The contents of this website are for information purposes only and for
                            enabling public
                            to have quick and easy access to information. We are taking every effort to provide
                            accurate and updated information. However, it is likely that the details such as
                            telephone numbers, name of the officer holding a post, etc may change prior to its
                            updating in the website. Hence, we do not assume any legal liability on the
                            completeness, accuracy or usefulness of the contents provided in this website.
                            The links are provided to other external sites in some documents. We are not
                            responsible for the accuracy of the contents in those sites. The hyperlinks given to
                            external sites do not constitute an endorsement of information, products or services
                            offered by those sites.
                            Despite our best efforts, we do not warranty that the documents in this site is free
                            from infection by computer viruses.
                            We welcome your suggestions to improve our site and request that any error found
                            may kindly be brought to our notice.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>