<div class="container py-5">
    <h3 class="mb-3">Disclaimer</h3>
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <h5 class="text-xl font-semibold mb-4">Overview :</h5>
                        <p class="text-slate-400">It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate that over the course of time certain letters were added or deleted at various positions within the text.</p>
                        <p class="text-slate-400">In the 1960s, the text suddenly became known beyond the professional circle of typesetters and layout designers when it was used for Letraset sheets (adhesive letters on transparent film, popular until the 1980s) Versions of the text were subsequently included in DTP programmes such as PageMaker etc.</p>
                        <p class="text-slate-400">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories.</p>
                    
                        <h5 class="text-xl font-semibold mb-4 mt-8">We use your information to :</h5>
                        <!-- <ul class="list-none text-slate-400 mt-4">
                            <li *ngFor="let item of restrictions" class="flex mt-2"><i class="mdi mdi-chevron-right text-red-500 text-lg align-middle me-2"></i>{{item}}</li>
                        </ul> -->
    
                        <h5 class="text-xl font-semibold mb-4 mt-8">Information Provided Voluntarily :</h5>
                        <p class="text-slate-400">In the 1960s, the text suddenly became known beyond the professional circle of typesetters and layout designers when it was used for Letraset sheets (adhesive letters on transparent film, popular until the 1980s) Versions of the text were subsequently included in DTP programmes such as PageMaker etc.</p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>