@if (footer$ | async; as footer) {
  <footer class="bg-dark bg-gradient text-white py-3">
      <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
          <div class="col-md-3 text-center mt-3">
            <h2 class="text-uppercase mb-0 fw-bold text-danger" style="font-family: 'Bungee Tint', sans-serif;">TASMAC</h2>
            <p class="fs-6">Tamil Nadu  State Marketing Corporation Limited.</p>
          </div>
    
          <!-- Useful Links -->
          <div class="col-md-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Useful Links</h6>
            <p class="pb-2 mb-0"><a href="#" class="text-white">Feedback</a></p>
            <p class="pb-2 mb-0"><a href="#" class="text-white">Privacy Policy</a></p>
            <p class="pb-2 mb-0"><a href="#" class="text-white">Terms of Services</a></p>
            <p class="pb-2 mb-0"><a href="#" class="text-white">Sitemap</a></p>
            <p class="pb-2 mb-0"><a href="#" class="text-white">Disclaimer</a></p>
          </div>
           <!-- Quick Links -->
          <div class="col-md-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Regulation & Policies</h6>
            <p class="pb-2 mb-0"><a href="#" class="text-white">RTI</a></p>
            <p class="pb-2 mb-0"><a href="#" class="text-white">Policies</a></p>
            <p class="pb-2 mb-0"><a href="#" class="text-white">Act & Rules</a></p>
          </div>
    
          <!-- Contact -->
          <div class="col-md-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p class="pb-2 mb-0"><i class="fa fa-home me-2 text-danger"></i> CMDA Tower–II, IV Floor, Gandhi Irwin Bridge Road, Egmore, Chennai – 600 008.</p>
            <p class="pb-2 mb-0"><i class="fa fa-link me-2 text-danger"></i> tasmac&#64;gov.in</p>
            <p class="pb-2 mb-0"><i class="fa fa-phone me-2 text-danger"></i> 044–28521298, 28524608, 28521970</p>
          </div>
    
        </div>
      </div>
      <div class="text-center py-3 bg-danger">
        <p class="pb-0 mb-0">Copyright © 2024 TASMAC | All rights reserved.</p>
      </div>
  </footer>

  
<!-- <div class="footer">
  <div class="footer-container">
      <div class="footer-logo">
          <img src="assets\images\banner-images\TASMAC-logo.jpg" alt="TASMAC Logo">
          <p>Tamil Nadu State Marketing Corporation Limited.</p>
      </div>
      <div class="footer-column">
          <h3 style="color:#ff6600;">Office</h3>
          <p>CMDA Tower–II, IV Floor, Gandhi Irwin Bridge Road, Egmore, Chennai – 600 008.</p>
          <p><i class="fa fa-envelope"></i> tasmac&#64;gov.in</p>
          <p><i class="fa fa-phone"></i> 044–28521298, 28524608, 28521970.</p>
      </div>
      <div class="footer-column">
          <h3 style="color:#ff6600;">Utilities</h3>
          <ul>
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Services</a></li>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="/contact">Contact Us</a></li>
          </ul>
      </div>
  <div class="footer-column">
          <h3 style="color: #ff6600;">Quick Links</h3>
          <ul>
              <li><a href="/offices">Offices</a></li>
              <li><a href="/suppliers">Suppliers</a></li>
              <li><a href="/brands">Products</a></li>
              <li><a href="shoplocator">Shop Locator</a></li>

          </ul>
      </div>
      <div class="footer-column">
          <h3 style="color:#ff6600;">Regulation & Policies</h3>
          <ul>
              <li><a href="#">RTI</a></li>
              <li><a href="#">Policies</a></li>
              <li><a href="#">Act & Rules</a></li>
          </ul>
      </div>
  </div>
</div> -->

  <!-- <footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
      <p id="copyright" class="col-2">
        {{ footer.tagline }}
        <a routerLink="{{ footer.developerlink }}">{{ footer.developer }}</a>
      </p>
      <div class="col-2" style="text-align: right">
        <app-social></app-social>
      </div>
    </div>
  </footer> -->
}
