<div class="container py-5">
    <h3 class="mb-3">Terms of Services</h3>
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <h5 class="text-xl font-semibold mb-4">Introduction :</h5>
                        <p class="text-slate-400">It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate that over the course of time certain letters were added or deleted at various positions within the text.</p>
    
                        <h5 class="text-xl font-semibold mb-4 mt-8">User Agreements :</h5>
                        <p class="text-slate-400">The most well-known dummy text is the 'Lorem Ipsum', which is said to have <b class="text-red-600">originated</b> in the 16th century. Lorem Ipsum is <b class="text-red-600">composed</b> in a pseudo-Latin language which more or less <b class="text-red-600">corresponds</b> to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also <b class="text-red-600">incomprehensible</b>, but it imitates the rhythm of most European languages in Latin script. The <b class="text-red-600">advantage</b> of its Latin origin and the relative <b class="text-red-600">meaninglessness</b> of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's <b class="text-red-600">attention</b> from the layout.</p>
                        <p class="text-slate-400 mt-3">There is now an <b class="text-red-600">abundance</b> of readable dummy texts. These are usually used when a text is <b class="text-red-600">required purely</b> to fill a space. These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or <b class="text-red-600">nonsensical</b> stories.</p>
                        <p class="text-slate-400 mt-3">It seems that only <b class="text-red-600">fragments</b> of the original text remain in the Lorem Ipsum texts used today. One may speculate that over the course of time certain letters were added or deleted at various positions within the text.</p>
                        
                        <h5 class="text-xl font-semibold mb-4 mt-8">Restrictions :</h5>
                        <p class="text-slate-400">You are specifically restricted from all of the following :</p>
                        <ul class="list-none text-slate-400 mt-3">
                            <li *ngFor="let item of restrictions" class="flex mt-2"><i class="mdi mdi-chevron-right text-red-500 text-lg align-middle me-2"></i>{{item}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>