<div class="container py-5">
    <h3 class="mb-3">Online Permits</h3>
    <div class="row">
        <div class="col-6">
            <div class="card mb-2">
                <div class="card-body d-flex justify-content-start">
                    <a href="https://importpermit-liquor.cpe.tn.gov.in/#/login" target="_blank">
                        <i class="fa fa-bookmark-o fs-4 me-2" aria-hidden="true"></i>
                        Online Import Permit - IFL
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex justify-content-start">
                    <a href="https://exportpermit-beer.cpe.tn.gov.in/#/login" target="_blank">
                        <i class="fa fa-bookmark-o fs-4 me-2" aria-hidden="true"></i>
                        Online Export Permit - Beer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>