<div class="shop-locator mt-4">
  <div class="container py-5 text-center">
    <h2 class="mb-3">SHOP LOCATIONS</h2>
    <div class="row">
      <div class="col-md-4 text-start">
        <div class="form-group">
          <h5 class="mb-1">Filters</h5>
          <hr />
        </div>
        <div class="form-group">
          <h6 class="mb-3">Locate shop by using shop number</h6>
        </div>
        <div class="mb-3">
          <select [(ngModel)]="selectedRvShopNo" (change)="filterShops()" class="form-select">
            <option value="">Select Shop No.</option>
            <option *ngFor="let rvShopNo of rvShopNos" [value]="rvShopNo">{{ rvShopNo }}</option>
          </select>
        </div>
        <div class="form-group">
          <h6 class="mb-3">OR</h6>
        </div>
        <div class="mb-3">
          <select [(ngModel)]="selectedDistrict" (change)="filterShops()" (change)="filterTaluk()" class="form-select">
            <option value="">Select District</option>
            <option *ngFor="let district of districts"  [value]="district">{{ district }}</option>
          </select>
        </div>
        <div class="mb-3">
          <select [(ngModel)]="selectedTaluk" (change)="filterShops()" (change)="filterShopByTaluk()" class="form-select">
            <option value="">Select Taluk</option>
            <option *ngFor="let taluk of taluks" [value]="taluk">{{ taluk }}</option>
          </select>
        </div>
        <div class="mb-3">
          <select [(ngModel)]="selectedRvShopNo" (change)="filterShops()" class="form-select">
            <option value="">Select RV shop No</option>
            <option *ngFor="let rvShopNo of rvShopNos" [value]="rvShopNo">{{ rvShopNo }}</option>
          </select>
        </div>
        <div class="">
          <button (click)="resetFilters()">Reset</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="map-container">
          <div #map id="map"></div>
          <div class="filter-container">
            <div class="filter-section">
              <!-- <select [(ngModel)]="selectedDistrict" (change)="filterShops()">
                <option value="">Select District</option>
                <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
              </select>
              <select [(ngModel)]="selectedTaluk" (change)="filterShops()">
                <option value="">Select Taluk</option>
                <option *ngFor="let taluk of taluks" [value]="taluk">{{ taluk }}</option>
              </select>
              <select [(ngModel)]="selectedRvShopNo" (change)="filterShops()">
                <option value="">Select RV Shop No</option>
                <option *ngFor="let rvShopNo of rvShopNos" [value]="rvShopNo">{{ rvShopNo }}</option>
              </select>
              <button (click)="resetFilters()">Reset</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="8" class="bg-dark">
                  <h2 class="py-0 m-0 text-white">RV SHOPS DETAILS</h2>
                </th>
              </tr>
              <tr>
                <th>S.No.</th>
                <th>SRM Office</th>
                <th>DM Office</th>
                <th>RV Shop No</th>
                <th>District</th>
                <th>Taluk</th>
                <th>Area</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shop of filteredShops">
                <td>{{ shop.slNo }}</td>
                <td>{{ shop.srmOffice }}</td>
                <td>{{ shop.dmOffice }}</td>
                <td>{{ shop.rvShopsNo }}</td>
                <td>{{ shop.district }}</td>
                <td>{{ shop.taluk }}</td>
                <td>{{ shop.area }}</td>
                <td>{{ shop.address }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-to-top" [ngClass]="{'show': isShow}" (click)="scrollToTop()">
  ↑
</div>