<div class="container my-4">
    <h2 class="mb-3">Notice Board</h2>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <p class="mb-1"><a
                                            href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf"
                                            target="_blank">
                                            Application form for registration of Indian made scotch whisky, Indian made
                                            whisky, domestic wine, vodka, gin, rum, brandy, tequila and beer brands
                                            (produced in other states / union territories in India) with TASMAC
                                        </a></p>
                                    <div class="text-end">
                                        <!-- <small>Aug 20, 2024</small> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <a href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf"
                                            target="_blank">
                                            Offer Form for Registration of Imported Foreign Liquor (IFL) brands with
                                            TASMAC
                                        </a>
                                    </p>
                                    <div class="text-end">
                                        <!-- <small>Aug 20, 2024</small> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <a href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf"
                                            target="_blank">
                                            Code for Prevention of Frauds (தமிழ்)
                                        </a>
                                    </p>
                                    <div class="text-end">
                                        <!-- <small>Aug 20, 2024</small> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <a href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf"
                                            target="_blank">
                                            Code for Prevention of Frauds (English)
                                        </a>
                                    </p>
                                    <div class="text-end">
                                        <!-- <small>Aug 20, 2024</small> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <a href="https://www.tasmac.co.in/forms/TN_Prohibition_Act_1937_Tamil.pdf"
                                            target="_blank">
                                            TN Prohibition Act 1937 (தமிழ்)
                                        </a>
                                    </p>
                                    <div class="text-end">
                                        <!-- <small>Aug 20, 2024</small> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <a href="https://www.tasmac.co.in/forms/TN_Prohibition_Act_1937_English.pdf"
                                            target="_blank">
                                            TN Prohibition Act 1937 (English)
                                        </a>
                                    </p>
                                    <div class="text-end">
                                        <!-- <small>Aug 20, 2024</small> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>