<div class="container my-4">
    <h2 class="mb-3">Notice Board</h2>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <p class="mb-1"><a href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf" target="_blank">
                                        APPLICATION FORM FOR REGISTRATION OF INDIAN MADE SCOTCH WHISKY, INDIAN MADE WHISKY, DOMESTIC WINE, VODKA, GIN, RUM, BRANDY, TEQUILA AND BEER BRANDS (PRODUCED IN OTHER STATES / UNION TERRITORIES IN INDIA) WITH TASMAC.
                                    </a></p>
                                    <div class="text-end">
                                        <small>Aug 20, 2024</small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                    <a href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf" target="_blank">
                                        Offer Form for Registration of Imported Foreign Liquor (IFL) brands with TASMAC
                                    </a>
                                    </p>
                                    <div class="text-end">
                                        <small>Aug 20, 2024</small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <a href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf" target="_blank">
                                            Code for Prevention of Frauds (English)
                                        </a>
                                    </p>
                                    <div class="text-end">
                                        <small>Aug 20, 2024</small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <a href="https://www.tasmac.co.in/forms/brandy_tequila_and_beer_2023-08-31.pdf" target="_blank">
                                            Code for Prevention of Frauds (Tamil)
                                        </a>
                                    </p>
                                    <div class="text-end">
                                        <small>Aug 20, 2024</small>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>