<div class="ticker-container">
    <div class="ticker">
        <span class="text-dark">TASMAC Welcomes You!</span>
        <span class="text-danger">CONSUMPTION OF ALCOHOL IS INJURIOUS TO HEALTH</span>
        <span class="text-dark">Chennai Tender Information update</span>
        <span class="text-dark">டாஸ்மாக் உங்களை வரவேற்கிறது!</span>
        <span class="text-danger">மதுபானம் அருந்துவது உடல்நலத்திற்கு கேடு.</span>
        <span class="text-dark">சென்னை டெண்டர் தகவல் புதுப்பிப்பு</span>
        <!-- <span class="text-dark">TASMAC Welcomes You!</span>
        <span class="text-danger">CONSUMPTION OF ALCOHOL IS INJURIOUS TO HEALTH</span>
        <span class="text-dark">Chennai Tender Information update</span>
        <span class="text-dark">டாஸ்மாக் உங்களை வரவேற்கிறது!</span>
        <span class="text-danger">மதுபானம் அருந்துவது உடல்நலத்திற்கு கேடு.</span>
        <span class="text-dark">சென்னை டெண்டர் தகவல் புதுப்பிப்பு</span> -->
    </div>
</div>
