@if (header$ | async; as header) {
<div class="container-fluid mt-2">
	<div class="row align-items-center">
		<div class="col-md-5 mt-4">
			<div class="section-heading text-center">
				<!-- <p class="mb-1 pb-0">Tamil Nadu State Marketing Corporation Limited.</p> -->
				<h1 class="mb-1 pb-0 fw-bold" style="color: #DD241A;">Tamil Nadu State Marketing Corporation Limited.
				</h1>
				<p class="text-red mt-1">(A Government of Tamilnadu Undertaking)</p>
				<!-- <a href="http://www.tenders.tn.gov.in/innerpage.asp?choice=cr7&id=136" target="_blank" rel="noopener noreferrer">
					<button type="button" class="btn btn-danger btn-sm">
						Tender Details
					</button>
				</a>
				<button type="button" class="btn btn-outline-danger btn-sm ms-2" routerLink="/gallery">
					Events
				</button> -->
				<div>
					<app-ticker></app-ticker>
				</div>
				<div class="mb-2 mt-4" style="display: flex;justify-content: space-around;">
					<div>
						<div style="font-weight: 600;color: #000;">Toll-Free</div>
						<span><a href="tel:18004252015">18004252015</a></span>
					</div>
					<div>
						<div style="font-weight: 600;">Complaint in whats app number</div>
						<div style="cursor: pointer;color: #000;">
							<!-- (click)="raiserComplain('7397720230')" | (click)="raiserComplain('7397720235')" -->
							<span><a href="tel:7397720230">7397720230</a></span> | <span><a href="tel:7397720235">7397720235</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<!-- <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
				<div class="carousel-inner"> -->
					<div class="carousel-item active"
						style="background-image: url('assets/images/banner/tasmacelite.jpg')">
						<div class="d-block w-100 carousel-item-content"></div>
					</div>
					<!-- <div class="carousel-item" style="background-image: url('assets/images/Tasmac-store-pic2.jpg')">
						<div class="d-block w-100 carousel-item-content"></div>
					</div>
					<div class="carousel-item" style="background-image: url('assets/images/maxresdefault.jpg')">
						<div class="d-block w-100 carousel-item-content"></div>
					</div>
					<div class="carousel-item" style="background-image: url('assets/images/Tasmac-store-pic4.jpg')">
						<div class="d-block w-100 carousel-item-content"></div>
					</div>
				</div>
				<button id="prevButton" class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div> -->
		</div>
	</div>
</div>
<!-- <div class="container-fluid" style="background-color: #ebebeb;">
	<div class="row">
		<div class="col py-2">
			<app-ticker></app-ticker>
		</div>
	</div>
</div> -->
<div class="container text-center py-4">
	<div class="row align-items-center">
		<div class="col-md-12">
			<h3>Our presence across the state</h3>
			<div class="row pt-3">
				<div class="col-md-3 text-center">
					<div class="d-flex justify-content-center" style="cursor: pointer;"
						(click)="routePrescense('regional')">
						<div class="progress blue">
							<span class="progress-left">
								<span class="progress-bar"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar"></span>
							</span>
							<div class="progress-value">5</div>
						</div>
					</div>
					<p class="mb-0 fw-bold">Regional Offices</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="d-flex justify-content-center" style="cursor: pointer;"
						(click)="routePrescense('district')">
						<div class="progress yellow">
							<span class="progress-left">
								<span class="progress-bar"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar"></span>
							</span>
							<div class="progress-value">38</div>
						</div>
					</div>
					<p class="mb-0 fw-bold">District Manager Offices</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="d-flex justify-content-center" style="cursor: pointer;"
						(click)="routePrescense('depots')">
						<div class="progress green">
							<span class="progress-left">
								<span class="progress-bar"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar"></span>
							</span>
							<div class="progress-value">43</div>
						</div>
					</div>
					<p class="mb-0 fw-bold">Depots</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="d-flex justify-content-center">
						<div class="progress red">
							<span class="progress-left">
								<span class="progress-bar"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar"></span>
							</span>
							<div class="progress-value">
								<span style="font-size: 20px;">4829 +</span>
								<!-- {{shopData?.length}} -->
							</div>
						</div>
					</div>
					<p class="mb-0 fw-bold">Retail Outlets</p>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-4">
			<h4 class="mb-3 fw-bold">Downloads</h4>
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between">
						<button type="button" class="btn btn-success btn-sm">
							Annual Reports
						</button>
						<button type="button" class="btn btn-outline-success btn-sm ms-2">
							Forms
						</button>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>

<div class="container-fluid my-3 bg-light122">
	<app-about></app-about>
</div>
<div class="container">
	<app-organization></app-organization>
</div>

<main>
	<app-office-details *ngIf="selectedOfficeData" [officeData]="selectedOfficeData"></app-office-details>
	<div class="scroll-to-top" [ngClass]="{'show': isShow}" (click)="scrollToTop()">
		↑
	</div>
</main>

<!-- <app-about-page></app-about-page> -->
<!-- <app-services-page></app-services-page> -->

}