<div class="custom-dropdown">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="filterOptions()"
      (focus)="showAllOptions()" 
      (blur)="displayOptions()"
      placeholder="Search..."
      class="form-control"
    />
    <ul class="dropdown-list" *ngIf="isDropdownVisible">
      <li
        *ngFor="let option of filteredOptions"
        (click)="selectOption(option)"
        [class.selected]="option === selectedOption"
      >
        {{ option | pascalCase }}
      </li>
    </ul>
  </div>
  