<div class="container py-5">
    <h3 class="mb-3">Excise</h3>
    <div class="row">
        <div class="col-6">
            <div class="card mb-2">
                <div class="card-body d-flex justify-content-start">
                    <a href="https://tncpe.gov.in/index.html" target="_blank">
                        <i class="fa fa-bookmark-o fs-4 me-2" aria-hidden="true"></i>
                        Excise Department
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex justify-content-start">
                    <a href="https://www.tasmac.co.in/forms/taxes_and_duty_2024-03-01.pdf" target="_blank">
                        <i class="fa fa-bookmark-o fs-4 me-2" aria-hidden="true"></i>
                        Excise Duty / VAT Structure
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>