<div class="container py-5">
    <h3 class="mb-3">Profile</h3>
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="mb-6">
                        <h5 class="text-lg font-semibold mb-3">INTRODUCTION</h5>
                    
                        <p class="text-slate-400">Tamil Nadu State Marketing Corporation Limited (TASMAC) is a company incorporated under the Companies Act, 1956 on 23.05.1983. It is wholly owned by Govt. of Tamilnadu with Registered Office in Chennai. </p>
                        <p class="text-slate-400 mt-2">TASMAC is vested with the exclusive privilege of wholesale supply of IMFL for the whole State of Tamil Nadu as per Section 17 (C) (1-A) (a) of the Tamil Nadu Prohibition Act, 1937 (Tamil Nadu Act X of 1937). It has taken over the wholesale distribution of Indian Made Foreign Liquor from the Private Sector in the whole state of Tamil Nadu during May 1983. The exclusive privilege of Retail Vending of IMFS was granted to TASMAC under Sec.17 (C) (1-B) of the Tamil Nadu Prohibition Act, 1937. TASMAC is doing the retail business also successfully with effect from 29.11.2003.</p>
                    </div>
                    <div class="mb-6">
                        <h5 class="text-lg font-semibold mb-3">CAPITAL STRUCTURE</h5>
                        <div>
                            <ul class="list-none">
                                <li class="mt-2"><a routerLink="#" class="text-slate-400"><i class="mdi mdi-arrow-right text-red-500 me-2"></i>Authorised and Paidup capital : Rs. 15.00 Crores</a></li>
                                <li class="mt-2"><a routerLink="#" class="text-slate-400"><i class="mdi mdi-arrow-right text-red-500 me-2"></i>Paidup capital : Rs. 15.00 Crores</a></li>
                            </ul>
                        </div>
                        <p class="text-slate-400">(The entire share capital is contributed by Govt. of Tamil Nadu)</p>
                    </div>
                    <div>
                        <h5 class="text-lg font-semibold mb-3">PURCHASE AND DISTRIBUTION</h5>
                    
                        <p class="text-slate-400">TASMAC procures IMFS and Beer stocks locally from 11 IMFS manufacturers and 7 Beer manufacturers in the State. It also procures wine locally from one manufacturer. It also procures scotch, Whisky and few wine brands from other states. TASMAC also engages in retail sale of Foreign Liquor.</p>
                        <p class="text-slate-400 mt-2">Distribution of IMFS & BEER items to the licensees is being done through the 43 depots of TASMAC located throughout the State.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>