<div class="container my-4">
    <h3 class="mb-2">Organisation Details</h3>
    <div class="row">
        <div class="col-md-8 offset-md-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/chairperson.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-2 text-danger fw-bold">TASMAC</h3>
                    <hr>
                    <img src="./assets/images/orgchart.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-2 text-danger fw-bold">CORPORATE OFFICE</h3>
                    <hr>
                    <img src="./assets/images/Managingdirector.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>