<div class="container my-4">
    <h3 class="mb-2">Organisation Details</h3>
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="card">
                <!-- <img src="./assets/images/chairperson.png" class="img-fluid"> -->
                <div class="container py-3">
                    <div class="row">
                        <div class="col-md-4 offset-md-4 col-xs-12">
                            <div class="card shadow-lg border">
                                <div class="card-body">
                                    <div class="box-title">
                                        <h3 class="text-center">CHARIPERSON</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-1 col-xs-12"></div>
                        <div class="col-md-2 col-xs-12">
                            <div class="card shadow border h-100">
                                <div class="card-body d-flex align-items-center">
                                    <div class="box-title">
                                        <h4 class="mb-0">The Principal Secretary to Govt.Home Prohibition & Excise Dept.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="card shadow border h-100">
                                <div class="card-body d-flex align-items-center">
                                    <div class="box-title">
                                        <h4 class="mb-0">The Principal Secretary to Govt. Finance Dept.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="card shadow border h-100">
                                <div class="card-body d-flex align-items-center">
                                    <div class="box-title">
                                        <h4 class="mb-0">The Secretary to Govt. Commercial Taxes & Registration Dept.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="card shadow border h-100">
                                <div class="card-body d-flex align-items-center">
                                    <div class="box-title">
                                        <h4 class="mb-0">The Commissioner of Prohibition & Excise</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="card shadow border h-100">
                                <div class="card-body d-flex align-items-center">
                                    <div class="box-title">
                                        <h4 class="mb-0">The Managing Director, Tasmac Ltd.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-12"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="mb-2 text-danger fw-bold">TASMAC</h3> -->
                    <hr>
                    <!-- <img src="./assets/images/orgchart.png" class="img-fluid"> -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 offset-md-4 col-xs-12">
                                <div class="card shadow-lg border">
                                    <div class="card-body">
                                        <div class="box-title">
                                            <h3 class="text-center">MANAGING DIRECTOR</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border h-100">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">GENERAL MANAGER (Wholesale & Admin)</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border h-100">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">GENERAL MANAGER (Retail Vending)</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border h-100">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">GENERAL MANAGER (Personal & Welfare)</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border h-100">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">GENERAL MANAGER (Finance)</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border h-100">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">SENIOR REGIONAL MANAGERS</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border h-100">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">COMPANY SECRETARY</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-1 col-xs-12"></div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border" style="height: 100px">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">CHENNAI REGION</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border" style="height: 100px">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">COIMBATORE REGION</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border" style="height: 100px">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">MADURAI REGION</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>	 
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border" style="height: 100px">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">SALEM REGION</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="card shadow border" style="height: 100px">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="box-title">
                                            <h4 class="mb-0">TRICHY REGION</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-2 text-danger fw-bold">CORPORATE OFFICE</h3>
                    <hr>
                    <img src="./assets/images/Managingdirector.png" class="img-fluid">
                </div>
            </div>
        </div> -->
    </div>
</div>