<!-- <p>organisation-structure works!</p> -->
<div class="container my-4">
    <h2 class="mb-2">Organisation Details</h2>
    <div class="col-md-12 mt-4">
        <h3 class="text-center">Board Of Directors</h3>
        <p-organizationChart [value]="boardOfDirector" />
    </div>
    <div class="col-md-12 mt-4">
        <h3 class="text-center">Tasmac Organisation Structure</h3>
        <p-organizationChart [value]="tasmacOrganisatinStructure" />
    </div>
    <div class="col-md-12 mt-4">
        <h3 class="text-center">Corporate Organisation Structure</h3>
        <p-organizationChart [value]="corporateOrganisatinStructure" />
    </div>
</div>