<div id="about" class="py-md-4 py-2">
	<div class="text-center px-3 px-md-5">
		<h3 class="mb-3 fs-bold">Quick Links</h3>
	</div>
	<div class="row" style="padding:0px 30px;">
		<div class="col-md-4 mt-4">
			<div class="flip-card mx-auto ">
				<div>
					<div class="card border-0 shadow" (click)="navigateTonoticeboard()">
						<div class="card-body d-flex align-items-center justify-content-center">
							<h5 class="mb-0">Notice Board</h5>
						</div>
						<button type="button" class="btn btn-danger btn-sm m-2">
							View
						</button>
					</div>
					<!-- <div class="flip-card-back card border-0 text-white bg-primary">
					<div class="card-body d-flex align-items-center justify-content-center">
					  <div class="text-center">
						<h5 class="card-title">Notice Board</h5>
						<p class="card-text">Get an overview of TASMAC's operations, history, and impact on the local economy. Explore key facts and figures at a glance.</p>
					  </div>
					</div>
				  </div> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-4">
			<div class="flip-card mx-auto" (click)="navigateToshopLocator()">
				<div>
					<div class="card border-0 shadow">
						<div class="card-body d-flex align-items-center justify-content-center">
							<h5 class="mb-0">Shop Locator</h5>
						</div>
						<button type="button" class="btn btn-danger btn-sm m-2">
							Locate Shop
						</button>
					</div>
					<!-- <div class="flip-card-back card border-0 text-white bg-primary">
					<div class="card-body d-flex align-items-center justify-content-center">
					  <div class="text-center">
						<h5 class="card-title">Shop Locator</h5>
						<p class="card-text">Find your nearest TASMAC outlet with our easy-to-use shop locator. Search by shop number ,district and get directions to the closest store.</p>
					  </div>
					</div>
				  </div> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-4">
			<div class="flip-card mx-auto">
				<div>
					<div class="card border-0 shadow">
						<div class="card-body d-flex align-items-center justify-content-center">
							<h5 class="mb-0">TASMAC at a Glance</h5>
						</div>
						<button type="button" class="btn btn-danger btn-sm m-2" (click)="navigateToGlance()">
							View
						</button>
					</div>
					<!-- <div class="flip-card-back card border-0 text-white bg-primary">
					<div class="card-body d-flex align-items-center justify-content-center">
					  <div class="text-center">
						<h5 class="card-title">TASMAC at a Glance</h5>
						<p class="card-text">Get an overview of TASMAC's operations, history, and impact on the local economy. Explore key facts and figures at a glance.</p>
					  </div>
					</div>
				  </div> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-4">
			<div class="flip-card mx-auto">
				<div>
					<!-- Front Side -->
					<div class="card border-0 shadow">
						<div class="card-body d-flex align-items-center justify-content-center">
							<h5 class="mb-0">Complaints and Grievances</h5>
						</div>
						<button type="button" class="btn btn-danger btn-sm m-2" (click)="navigateToComplaints()">
							Raise Complaint
						</button>
					</div>
					<!-- Back Side -->
					<!-- <div class="flip-card-back card border-0 text-white bg-primary">
					<div class="card-body d-flex align-items-center justify-content-center">
					  <div class="text-center">
						<h5 class="card-title">Complaints and Grievances</h5>
						<p class="card-text">Have a concern or issue? Submit your complaints and grievances here, and we'll ensure they are addressed promptly and effectively.</p>
					  </div>
					</div>
				  </div> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-4">
			<div class="flip-card mx-auto">
				<div>
					<!-- Front Side -->
					<div class="card border-0 shadow">
						<div class="card-body d-flex align-items-center justify-content-center">
							<h5 class="mb-0">TASMAC Financial Information</h5>
						</div>
						<button type="button" class="btn btn-danger btn-sm m-2" (click)="navigateToDownload()">
							Download Reports
						</button>
					</div>
					<!-- Back Side -->
					<!-- <div class="flip-card-back card border-0 text-white bg-primary">
					<div class="card-body d-flex align-items-center justify-content-center">
					  <div class="text-center">
						<h5 class="card-title">TASMAC Financial Information</h5>
						<p class="card-text">Access annual reports and financial statements to understand TASMAC's performance. Download the latest reports and financial documents here.</p>
					  </div>
					</div>
				  </div> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-4" (click)="navigateToEvents()">
			<!-- <a  class="pe-auto"> -->
			<div class="flip-card mx-auto">
				<div>
					<!-- Front Side -->
					<div class="card border-0 shadow">
						<div class="card-body d-flex align-items-center justify-content-center">
							<h4 class="mb-0">Events</h4>
						</div>
						<!-- <div class="col-12 text-center"> -->
						<button type="button" class="btn btn-danger btn-sm m-2">
							View
						</button>
						<!-- </div> -->
					</div>
					<!-- Back Side -->
					<!-- <div class="flip-card-back card border-0 text-white bg-primary">
							<div class="card-body d-flex align-items-center justify-content-center">
								<div class="text-center">
									<h5 class="card-title">Events</h5>
									<p class="card-text">Stay updated with the latest events hosted by TASMAC. Browse
										through our event and explore the gallery for photos and highlights.</p>
									<button type="button" class="btn btn-danger btn-sm ms-2">
										View Events
									</button>
								</div>
							</div>
						</div> -->
				</div>
			</div>
			<!-- </a> -->
		</div>
		<div class="col-md-4 mt-4">
			<a (click)="navigateToBrands()" class="pe-auto">
				<div class="flip-card mx-auto">
					<div>
						<!-- Front Side -->
						<div class="card border-0 shadow">
							<div class="card-body d-flex align-items-center justify-content-center">
								<h4 class="mb-0">Retail Prices(MRP)</h4>
							</div>
							<button type="button" class="btn btn-danger btn-sm m-2">
								View
							</button>
						</div>
						<!-- Back Side -->
						<!-- <div class="flip-card-back card border-0 text-white bg-primary">
							<div class="card-body d-flex align-items-center justify-content-center">
								<div class="text-center">
									<h5 class="card-title">Retail Prices</h5>
									<p class="card-text">Access the latest list of Maximum Retail Prices (MRP) for a
										wide range of products. This section ensures consumers are informed about the
										price limits set by authorities to prevent overpricing and protect consumer
										interests.</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt-4">
			<a href="https://tntenders.gov.in/nicgep/app" target="_blank" class="pe-auto">
				<div class="flip-card mx-auto">
					<div>
						<!-- Front Side -->
						<div class="card border-0 shadow">
							<div class="card-body d-flex align-items-center justify-content-center">
								<h4 class="mb-0">Tenders</h4>
							</div>
							<button type="button" class="btn btn-danger btn-sm m-2">
								View
							</button>
						</div>
						<!-- Back Side -->
						<!-- <div class="flip-card-back card border-0 text-white bg-primary">
							<div class="card-body d-flex align-items-center justify-content-center">
								<div class="text-center">
									<h5 class="card-title">Tenders</h5>
									<p class="card-text">Access to latest tenders published by TASMAC</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-4 mt-4">
			<a (click)="navigateToContact()" class="pe-auto">
				<div class="flip-card mx-auto">
					<div>
						<!-- Front Side -->
						<div class="card border-0 shadow">
							<div class="card-body d-flex align-items-center justify-content-center">
								<h4 class="mb-0">Contact Us</h4>
							</div>
							<button type="button" class="btn btn-danger btn-sm m-2">
								View Contacts
							</button>
						</div>
						<!-- Back Side -->
						<!-- <div class="flip-card-back card border-0 text-white bg-primary">
							<div class="card-body d-flex align-items-center justify-content-center">
								<div class="text-center">
									<h5 class="card-title">Vigiliance & Anti Corruption</h5>
									<p class="card-text">Our Vigilance and Anti-Corruption wing promotes transparency
										and accountability, preventing and addressing corruption. Find resources,
										guidelines, and contact information for reporting unethical activities to ensure
										a fair environment.</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</a>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-6 mt-2">
			<div class="cardGrid">
				<a class="card1" href="http://www.tenders.tn.gov.in/innerpage.asp?choice=cr7&id=136" target="_blank" rel="noopener noreferrer">
					<h4>Tenders</h4>
					<p class="small mb-0">Explore tender opportunities and procurement notices from our
						organization. Stay updated on current bids and contracts for suppliers and contractors
						across sectors. Our transparent, competitive process ensures equal opportunities for all
						participants.</p>
					<div class="go-corner">
						<div class="go-arrow">
							→
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-6 mt-2">
			<div class="cardGrid">
				<a class="card1" (click)="navigateToBrands()">
					<h4>Retail Prices</h4>
					<p class="small mb-0">Access the latest list of Maximum Retail Prices (MRP) for a wide range of
						products. This section ensures consumers are informed about the price limits set by
						authorities to prevent overpricing and protect consumer interests.</p>
					<div class="go-corner">
						<div class="go-arrow">
							→
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-6 mt-2">
			<div class="cardGrid">
				<a class="card1" (click)="navigateToBrands()">
					<h4>Excise Duty/VAT Structure</h4>
					<p class="small mb-0">Understand the current excise duty and VAT structure for various products
						and services. Find detailed information on tax rates, exemptions, and compliance to help
						businesses and consumers navigate the tax landscape.</p>
					<div class="go-corner">
						<div class="go-arrow">
							→
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-6 mt-2">
			<div class="cardGrid">
				<a class="card1" (click)="navigateToBrands()">
					<h4>Vigiliance & Anti Corruption</h4>
					<p class="small mb-0">Our Vigilance and Anti-Corruption wing promotes transparency and
						accountability, preventing and addressing corruption. Find resources, guidelines, and
						contact information for reporting unethical activities to ensure a fair environment.</p>
					<div class="go-corner">
						<div class="go-arrow">
							→
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-6 mt-2">
			<div class="cardGrid">
				<a class="card1" (click)="navigateToBrands()">
					<h4>Online Import Permit (IFL)</h4>
					<p class="small mb-0">Apply and manage your import permits online with ease. This section
						provides a streamlined process for obtaining the necessary permits for importing goods,
						ensuring compliance with regulatory requirements and facilitating smooth trade operations.
					</p>
					<div class="go-corner">
						<div class="go-arrow">
							→
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-6 mt-2">
			<div class="cardGrid">
				<a class="card1" (click)="navigateToBrands()">
					<h4>Online Export Permit - Beer</h4>
					<p class="small mb-0">Simplify your export process with our online export permit system. This
						section offers a convenient way to apply for and track export permits, ensuring that your
						goods meet all regulatory standards and facilitating efficient international trade.</p>
					<div class="go-corner">
						<div class="go-arrow">
							→
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-12 mt-2">
			<div class="card">
				<div class="card-body" style="display: flex;justify-content: space-between;align-items: center;">
					<div class="col-md-6">
						<button type="button" class="btn btn-outline-success btn-sm"
							(click)="forms('annual_report')">
							Annual Reports
						</button>
						<button type="button" class="btn btn-outline-success btn-sm ms-2"
							(click)="forms('forms_report')">
							Forms
						</button>
					</div>
					<div class="col-md-6">
						<li *ngFor="let report of reports" style="justify-content: start;display: grid;">
							<a [href]="report.file" target="_blank" style="text-decoration: none; color: #1e66f6;">
								{{ report.name }}
							</a>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>