<section id="about">
	<div class="container py-4">
		<div class="text-center">
			<h3 class="mb-3 fs-bold">Explore</h3>
			<p class="text-black-50" style="font-size: 15px;">TASMAC procures IMFS and Beer from 11 local IMFS
				manufacturers, 7 Beer manufacturers, and one local wine producer. It also sources Scotch, Whisky, and
				select wine brands from other states. TASMAC handles the retail sale of Foreign Liquor and distributes
				IMFS & Beer through 43 depots across the State.</p>
		</div>
		<div class="row">
			<div class="col-md-6 mt-2">
				<div class="cardGrid">
					<a class="card1">
						<h4>Tenders</h4>
						<p class="small mb-0">Explore tender opportunities and procurement notices from our
							organization. Stay updated on current bids and contracts for suppliers and contractors
							across sectors. Our transparent, competitive process ensures equal opportunities for all
							participants.</p>
						<div class="go-corner">
							<div class="go-arrow">
								→
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 mt-2">
				<div class="cardGrid">
					<a class="card1">
						<h4>Retail Prices</h4>
						<p class="small mb-0">Access the latest list of Maximum Retail Prices (MRP) for a wide range of
							products. This section ensures consumers are informed about the price limits set by
							authorities to prevent overpricing and protect consumer interests.</p>
						<div class="go-corner">
							<div class="go-arrow">
								→
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 mt-2">
				<div class="cardGrid">
					<a class="card1">
						<h4>Excise Duty/VAT Structure</h4>
						<p class="small mb-0">Understand the current excise duty and VAT structure for various products
							and services. Find detailed information on tax rates, exemptions, and compliance to help
							businesses and consumers navigate the tax landscape.</p>
						<div class="go-corner">
							<div class="go-arrow">
								→
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- </div>
		<div class="row mt-3"> -->
			<div class="col-md-6 mt-2">
				<div class="cardGrid">
					<a class="card1">
						<h4>Vigiliance & Anti Corruption</h4>
						<p class="small mb-0">Our Vigilance and Anti-Corruption wing promotes transparency and
							accountability, preventing and addressing corruption. Find resources, guidelines, and
							contact information for reporting unethical activities to ensure a fair environment.</p>
						<div class="go-corner">
							<div class="go-arrow">
								→
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 mt-2">
				<div class="cardGrid">
					<a class="card1">
						<h4>Online Import Permit (IFL)</h4>
						<p class="small mb-0">Apply and manage your import permits online with ease. This section
							provides a streamlined process for obtaining the necessary permits for importing goods,
							ensuring compliance with regulatory requirements and facilitating smooth trade operations.
						</p>
						<div class="go-corner">
							<div class="go-arrow">
								→
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 mt-2">
				<div class="cardGrid">
					<a class="card1">
						<h4>Online Export Permit - Beer</h4>
						<p class="small mb-0">Simplify your export process with our online export permit system. This
							section offers a convenient way to apply for and track export permits, ensuring that your
							goods meet all regulatory standards and facilitating efficient international trade.</p>
						<div class="go-corner">
							<div class="go-arrow">
								→
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-12 mt-2">
				<div class="card">
					<div class="card-body" style="display: flex;justify-content: space-between;align-items: center;">
						<div class="col-md-6">
							<button type="button" class="btn btn-outline-success btn-sm"
								(click)="forms('annual_report')">
								Annual Reports
							</button>
							<button type="button" class="btn btn-outline-success btn-sm ms-2"
								(click)="forms('forms_report')">
								Forms
							</button>
						</div>
						<div class="col-md-6">
							<li *ngFor="let report of reports" style="justify-content: start;display: grid;">
								<a [href]="report.file" target="_blank" style="text-decoration: none; color: inherit;">
									{{ report.name }}
								</a>
							</li>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<ng-container *ngIf="intro$ | async as intro">
			  <div class="col-md-4">
				<div class="section-heading">
					<h2 class="tagline mb-0">Explore</h2>
					<h2 class="section-title text-primary mb-0">{{ intro.title }}</h2>
					<p class="">{{ intro.description }}</p>
				</div>
			  </div>
			</ng-container>
		
		<ng-container *ngIf="features$ | async as features">
			  <div class="feature-grid">
				<div *ngFor="let feature of features" class="feature-card">
				  <a [href]="feature.link" target="_blank" class="feature-link">
					<div class="icon-block">
					  <div class="icon">
						<i class="fa fa-{{ feature.icon }} fa-2x"></i>
					  </div>
					  <div class="icon-block-description">
						<h4 class="feature-title">{{ feature.title }}</h4>
						<p class="feature-description">{{ feature.description }}</p>
					  </div>
					</div>
				  </a>
				</div>
			  </div>
			</ng-container>
		</div>  -->
	</div>
</section>