<div class="container mb-4">
    <div class="tab-content pt-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="social-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mt-2 col-xs-12 text-center">
                            <div class="box shadow-lg border">
                                <i class="fa fa-user fa-3x text-red" aria-hidden="true"></i>
                                <div class="box-title">
                                    <h3>Thiru. Dheeraj Kumar, IAS</h3>
                                </div>
                                <div class="box-text">
                                    <span>The Chairman, TASMAC and Additional Chief Secretary to Government, Home,
                                        Prohibition and Excise Department, Secretariat, Chennai - 600 009.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-2 col-xs-12 text-center">
                            <div class="box shadow-lg border">
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                                <div class="box-title">
                                    <h3>Thiru. T. Udhayachandran, IAS.,</h3>
                                </div>
                                <div class="box-text">
                                    <span>Principal Secretary to Government, Finance Department, Secretariat, Chennai -
                                        600
                                        009.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-2 col-xs-12 text-center">
                            <div class="box shadow-lg border">
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                                <div class="box-title">
                                    <h3>Thiru. Brajendra Navnit, IAS.,</h3>
                                </div>
                                <div class="box-text">
                                    <span>Principal Secretary to Government, Commercial Taxes and Registration
                                        Department,
                                        Secretariat, Chennai-600 009.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-2 col-xs-12 text-center">
                            <div class="box shadow-lg border">
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                                <div class="box-title">
                                    <h3>Tmt. S.P.Karthikaa, IAS.,</h3>
                                </div>
                                <div class="box-text">
                                    <span>Director of Prohibition and Excise, Chepauk, Chennai - 600 005.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-2 col-xs-12 text-center">
                            <div class="box shadow-lg border">
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                                <div class="box-title">
                                    <h3>Dr. S. Visakan, IAS.,</h3>
                                </div>
                                <div class="box-text">
                                    <span>Managing Director, TASMAC Ltd., Egmore, Chennai - 600 008.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>