<section class="our-offices">
  <div class="container">
    <h2 class="text-center" style="font-weight: bold;">Our Offices</h2>
    <div class="row">
      <div class="col-12">
        <div class="office-details">
          <div class="office-item" [ngClass]="{'active': selectedOfficeType === 1}" (click)="getStaffByOffice(1)">
            <div class="text">Head Office</div>
          </div>
          <div class="office-item" [ngClass]="{'active': selectedOfficeType === 2}" (click)="getStaffByOffice(2)">
            <div class="text">Regional Offices</div>
          </div>
          <div class="office-item" [ngClass]="{'active': selectedOfficeType === 3}" (click)="getStaffByOffice(3)">
            <div class="text">District Offices</div>
          </div>
          <div class="office-item" [ngClass]="{'active': selectedOfficeType === 4}" (click)="getStaffByOffice(4)">
            <div class="text">Depots</div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <!-- <app-office-details *ngIf="selectedOfficeData" [officeData]="selectedOfficeData"></app-office-details> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="12" class="bg-dark">
                  <h2 class="py-0 m-0 text-white">Office Staff Details</h2>
              </th>
              </tr>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Office</th>
                <th>District</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let office of staffDetails; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ office.name ? office.name :'-' }}</td>
                <td>{{ office.email ? office.email :'-' }}</td>
                <td>{{ office.designation ? office.designation :'-' }}</td>
                <td>{{ office.office ? office.office :'-' }}</td>
                <td>{{ office.district ? office.district :'-' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-to-top" [ngClass]="{'show': isShow}" (click)="scrollToTop()">
    ↑
  </div>
</section>