<div class="container py-5">
    <h3 class="mb-3">Privacy Policy</h3>
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <h5 class="text-xl font-semibold mb-4">Introduction :</h5>
                        <p class="text-slate-400">The TASMAC Portal respects your privacy and is committed to protecting
                            your personal information. It does not automatically collect any personal details, such as
                            your name, phone number, or email address, that could be used to identify you individually.
                            If the Portal requires you to provide personal information, you will be informed about the
                            specific purpose of collecting this data. Adequate security measures will always be in place
                            to ensure the protection of your personal information.</p>

                        <h5 class="text-xl font-semibold mb-4 mt-4">Data Protection and Usage:</h5>
                        <p class="text-slate-400">The TASMAC Portal ensures that any personally identifiable information
                            voluntarily provided by users is not sold or shared with any third party, whether public or
                            private. All information shared with the Portal is safeguarded against risks such as loss,
                            misuse, unauthorized access, disclosure, alteration, or destruction.
                        </p>

                        <h5 class="text-xl font-semibold mb-4 mt-4">Changes to the Privacy Policy :</h5>
                        <p class="text-slate-400">TASMAC reserves the right to modify, amend, or remove this privacy
                            statement at any time without prior notice. This policy does not establish any form of
                            contract or agreement between TASMAC and users visiting the Portal or sharing identifying
                            information.</p>
                        <!-- <ul class="list-none text-slate-400 mt-3">
                            <li *ngFor="let item of restrictions" class="flex mt-2"><i
                                    class="mdi mdi-chevron-right text-red-500 text-lg align-middle me-2"></i>{{item}}
                            </li>
                        </ul> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>