<div class="container py-5">
    <h3 class="mb-3">RTI Act</h3>
    <div class="row">
        <div class="col-6">
            <div class="card mb-2">
                <div class="card-body d-flex justify-content-start">
                    <a href="assets/files/Tasmac-RTI.pdf" target="_blank">
                        <i class="fa fa-bookmark-o fs-4 me-2" aria-hidden="true"></i>
                        Details of Public Relation Officers as per the RTI Act
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex justify-content-start">
                    <a href="assets/files/Tasmac-RTI-2005.pdf" target="_blank">
                        <i class="fa fa-bookmark-o fs-4 me-2" aria-hidden="true"></i>
                        Proactive Disclosures under RTI Act, 2005
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>